<div class="modal fade" id="feedback-modal" data-backdrop="static" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="modal-title">Good game!</h2>
                <div class='row'>
                    <div class='col-xs-10 col-xs-offset-1 text-center' id='scorebox'>

                        <div id='p0-score' class='col-xs-6 text-center'>
                            <h4>You:</h4>
                            <h2>0</h2>
                        </div>

                        <div id='p1-score' class='col-xs-6 text-center'>
                            <h4>Computer:</h4>
                            <h2>0</h2>
                        </div>
                    </div>
                </div>
                <button class="btn btn-large btn-warning" id="next-trial">Play Again</button>
            </div>
        </div>
    </div>
</div>
