<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset = "utf-8"></meta>
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge"></meta>
		<meta name="viewport" content="width=device-width"></meta>
		<meta name="description" content=""></meta>
		<meta name="author" content="Ma Lab"></meta>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href = '../static/css/stylesheet.css' rel='stylesheet'>


	</head>
	<body>
		<div id="nav-wrap">
			<a href="../index.html">Read paper</a>
			<a href="try_experiments.html">Try experiments</a>
			<a href="explore_data.html">Explore data</a>
			<a href="about_us.html">About us</a>	
		</div>
		<img src="https://basvanopheusden.github.io/media/image/Weiji.jpg"></img>
		<p>Wei Ji is the principal investigator on the project. He is broadly interested in computational models of decision-making in perception, memory, and cognition, with an emphasis on uncertainty and inference</p>
		
		
		
	</body>
</html>