<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset = "utf-8"></meta>
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge"></meta>
		<meta name="viewport" content="width=device-width"></meta>
		<meta name="description" content=""></meta>
		<meta name="author" content="Ma Lab"></meta>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href = '../static/css/stylesheet.css' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	</head>
	<body>
		<div id="nav-wrap">
			<a href="../index.html">Read paper</a>
			<a href="try_experiments.html">Try experiments</a>
			<a href="explore_data.html">Explore data</a>
			<a href="about_us.html">About us</a>	
		</div>
				
		<div class="container-fluid">
		<div class="row" style="min-height:5vh"></div>
		<div class="row">
			<div class="container-fluid col-xs-2">
				<img src="https://basvanopheusden.github.io/media/image/Bas.jpg" width="100%">
			</div>
			<div class="container-fluid col-xs-6">
				<p style="font-size:4vh">Bas van Opheusden</p>
				<p>Bas is a graduate student on the project. He's interested in how people make decisions in sequential environments like board games, how they learn sophisticated strategies with little-to-no training and how they adapt their strategy to specific opponents.</p>
				<i class="fa fa-envelope" aria-hidden="true">&nbsp</i><a href="mailto:basvanopheusden@nyu.edu">basvanopheusden@nyu.edu</a>		
			</div>
		</div>
		<div class="row" style="min-height:5vh"></div>
		
		<div class="row">
			<div class="container-fluid col-xs-2">
				<img src="https://basvanopheusden.github.io/media/image/Gianni.png" width="100%">
			</div>
			<div class="container-fluid col-xs-6">
				<p style="font-size:4vh">Gianni Galbiati</p>
				<p>Gianni was a junior research scientist on the project. He's presently a fellow at Insight's artificial intelligence program and is interested in machine perception and reasoning, reinforcement learning, and philosophy of science.</p>
				<i class="fa fa-globe" aria-hidden="true">&nbsp</i><a href="https://github.com/galbiati">github.com/galbiati</a>
			</div>
		</div>
		
		<div class="row" style="min-height:5vh"></div>

		<div class="row">
			<div class="container-fluid col-xs-2">
				<img src="https://basvanopheusden.github.io/media/image/Yunqi.jpg" width="100%">
			</div>
			<div class="container-fluid col-xs-6">
				<p style="font-size:4vh">Yunqi Li</p>
				<p>Yunqi was a research assistant on the project. She's interested in neuro-economics, behavioral economics and game theory. She's currently working on economic theory as a graduate student at Stanford University.</p>
				<i class="fa fa-envelope" aria-hidden="true">&nbsp</i><a href="mailto:yl2120@nyu.edu">yl2120@nyu.edu</a>	
			</div>
		</div>
		
		<div class="row" style="min-height:5vh"></div>

		<div class="row">
			<div class="container-fluid col-xs-2">
				<img src="https://basvanopheusden.github.io/media/image/Weiji.jpg" width="100%"></img>
			</div>
			<div class="container-fluid col-xs-6">
				<p style="font-size:4vh">Wei Ji Ma</p>
				<p>Wei Ji is the principal investigator on the project. He is broadly interested in computational models of decision-making in perception, memory, and cognition, with an emphasis on uncertainty and inference</p>
				<i class="fa fa-globe" aria-hidden="true">&nbsp</i><a href="http://www.cns.nyu.edu/malab">www.cns.nyu.edu/malab</a>
			</div>
		</div>
		</div>
	</body>
</html>