<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset = "utf-8"></meta>
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge"></meta>
		<meta name="viewport" content="width=device-width"></meta>
		<meta name="description" content=""></meta>
		<meta name="author" content="Ma Lab"></meta>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href = '../static/css/stylesheet.css' rel='stylesheet'>


	</head>
	<body>
		<div id="nav-wrap">
			<a href="../index.html">Read paper</a>
			<a href="try_experiments.html">Try experiments</a>
			<a href="explore_data.html">Explore data</a>
			<a href="about_us.html">About us</a>	
		</div>
	
		<h1>This website is currently under construction</h1>

		<ul>
			<li><a href="explore_game.html"> Explore games</a></li>
			<li><a href="explore_2afc.html"> Explore 2AFC</a></li>
			<li><a href="explore_eval.html"> Explore Eval</a></li>
			<li><a href="explore_time.html"> Explore Time pressure</a></li>
			<li><a href="explore_turing.html"> Explore Turing</a></li>
			<li><a href="explore_learn.html"> Explore Learning</a></li>
		</ul>  
		
	</body>
</html>