<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset = "utf-8"></meta>
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge"></meta>
		<meta name="viewport" content="width=device-width"></meta>
		<meta name="description" content=""></meta>
		<meta name="author" content="Ma Lab"></meta>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href = '../static/css/stylesheet.css' rel='stylesheet'>


	</head>
	<body>
		<div id="nav-wrap">
			<a href="../index.html">Read paper</a>
			<a href="try_experiments.html">Try experiments</a>
			<a href="explore_data.html">Explore data</a>
			<a href="about_us.html">About us</a>	
		</div>
	
		<div class="imglink text-center" onclick="location.href='explore_game.html'" style="top:15vh; left:4vw;	min-height: 37.5vh; min-width: 28vw">Human-vs-human games</div>
		<div class="imglink text-center" onclick="location.href='explore_2afc.html'" style="top:15vh; left:36vw;	min-height: 37.5vh; min-width: 28vw">2AFC</div>
		<div class="imglink text-center" onclick="location.href='explore_eval.html'" style="top:15vh; left:68vw;	min-height: 37.5vh; min-width: 28vw">Board evaluations</div>
		<div class="imglink text-center" onclick="location.href='explore_turing.html'" style="top:57.5vh; left:4vw;	min-height: 37.5vh; min-width: 28vw">Turing test</div>
		<div class="imglink text-center" onclick="location.href='explore_learn.html'" style="top:57.5vh; left:36vw;	min-height: 37.5vh; min-width: 28vw">Learning</div>
		<div class="imglink text-center" onclick="location.href='explore_time.html'" style="top:57.5vh; left:68vw;	min-height: 37.5vh; min-width: 28vw">Time pressure</div>
		
	</body>
</html>