<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset = "utf-8">
	<meta http-equiv = "X-UA-Compatible" content = "IE=edge">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="">
	<meta name="author" content="Ma Lab">
	<title>AI</title>

	<script src="../static/js/lib/jquery-2.2.4.min.js"></script>
	<script src="../static/js/lib/jquery-ui.min.js"></script>
	<script src="../static/js/lib/bootstrap.min.js"></script>
	<script src="../static/js/lib/underscore-min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="../static/js/util.js"></script>
	<script src="../static/js/game.js"></script>
	<script src="../static/js/explore_data.js"></script>

	<script>
		var blocks, player;
		M=9;
		N=4;
		K=4;
		
		mi = 5;
		gi = 12;
		player = 3;
		n=35;
		
		$(document).ready(function() {
			board = new Board();
			board.create_tiles();
			load_game_data_old();
		});
	</script>	

	<link href = "../static/css/lib/bootstrap.min.css" rel = "stylesheet">
	<link href = '../static/css/stylesheet.css' rel='stylesheet'>


	</head>
	<body>
		<div class='container-fluid'>
			<div class='row _blank_'></div>
			<div class='row _blank_'></div>
			<div class='row'>
				<div class='col-xs-8 col-xs-offset-2 text-center'>
					<h1 class='headertext'>Welcome!</h1>
				</div>
			</div>
			<div class='row _blank_'></div>
			<div class='row _blank_'></div>
			<div class='row _blank_'></div>
			<div class="row">
				<div class="container-fluid col-xs-8 col-xs-offset-2 canvas-container">
					<div class="canvas"></div>
				</div>
			</div>
			<div class="player text-center">
				<button type="button" id="button_backward" class="btn" onclick='btn_press_begin()'>
					<i class="fa fa-step-backward"></i>
				</button>
				<button type="button" id="button_backward" class="btn" onclick='btn_press_backward()'>
					<i class="fa fa-chevron-left"></i>
				</button>
				<button type="button" id="button_play" class="btn" onclick='btn_press_play()'>
					<i class="fa fa-play"></i>
				</button>
				<button type="button" id="button_forward" class="btn" onclick='btn_press_forward()'>
					<i class="fa fa-chevron-right"></i>
				</button>
				<button type="button" id="button_backward" class="btn" onclick='btn_press_end()'>
					<i class="fa fa-step-forward"></i>
				</button>
			</div>
			<audio id='move-sound'>
				<source id='move-sound-source' src='static/media/audio/stone3.ogg' type='audio/ogg'>
			</audio>
		</div>
		
	</body>
</html>