<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="">
        <meta name="author" content="Ma Lab">

        <title>{% block title %}Template{% end %}</title>

        {% block libs_js %}
            <script src="static/js/lib/jquery-2.2.4.min.js"></script>
            <script src="static/js/lib/jquery-ui.min.js"></script>
            <script src="static/js/lib/bootstrap.min.js"></script>
            <script src="static/js/lib/underscore-min.js"></script>
        {% end %}

        {% block libs_css %}
            <link href = "static/css/lib/bootstrap.min.css" rel = "stylesheet">
            <link href = 'static/css/stylesheet.css' rel='stylesheet'>
        {% end %}

        {% block extra_styles %}{% end %}

    </head>

    <body>
        {% block body %}

            {% block modals %}{% end %}

            <div class='container-fluid'>

                {% block header %}
                    <div class='row _blank_'></div>
                    <div class='row _blank_'></div>
                    <div class='row'>
                        <div class='col-xs-8 col-xs-offset-2 text-center'>
                            <h1 class='headertext'>{% block headertext %}Default Title{% end %}</h1>
                        </div>
                    </div>
                    <div class='row _blank_'></div>
                    <div class='row _blank_'></div>

                {% end %}

                {% block canvas %}{% end %}

            </div>
        {% end %}

        {% block scripts %}{% end %}

    </body>
</html>
