<div class="modal fade" id="feedback-modal" data-backdrop="static" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title">You have completed <b id='remaining-trials'>0%</b> of the trials.</h2>
                <br><button class="btn btn-large btn-warning" id="next-trial">Continue</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="end-modal" role="dialog">
  <div class="modal-dialog modal-lg">
   <div class="modal-content">
      <div class="modal-body">
        <p style="text-align:center; font-size:120%">
            {% block end-message %}Your experiment has finished. Thank you for participating! Please find the experimenter.{% end %}
        </p>
        {% block logout-link %}<p style='text-align:center'><a href='/logout'>Log out</a></p>{% end %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="block-modal" data-backdrop="static" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            {% block block_modal_header %}{% end %}
            <div class="modal-body">{% block block_modal_body %}{% end %}</div>
            {% block block_modal_footer %}{% end %}
        </div>
    </div>
</div>

<div class="modal fade" id="feedback-modal" data-backdrop="static" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="modal-title">Good game!</h2>
                <div class='row'>
                    <div class='col-xs-10 col-xs-offset-1 text-center' id='scorebox'>

                        <div id='p0-score' class='col-xs-6 text-center'>
                            <h4>You:</h4>
                            <h2>0</h2>
                        </div>

                        <div id='p1-score' class='col-xs-6 text-center'>
                            <h4>Computer:</h4>
                            <h2>0</h2>
                        </div>
                    </div>
                </div>
                <button class="btn btn-large btn-warning" id="next-trial">Play Again</button>
            </div>
        </div>
    </div>
</div>
