<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset = "utf-8">
	<meta http-equiv = "X-UA-Compatible" content = "IE=edge">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="">
	<meta name="author" content="Ma Lab">
	<title>AI</title>

	<script src="../static/js/lib/jquery-2.2.4.min.js"></script>
	<script src="../static/js/lib/jquery-ui.min.js"></script>
	<script src="../static/js/lib/bootstrap-12/bootstrap.min.js"></script>
	<script src="../static/js/lib/underscore-min.js"></script>

	<script src="../static/js/util.js"></script>
	<script src="../static/js/game.js"></script>
	<script src="../static/js/run_turing.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
	<link href = "../static/css/lib/bootstrap-12/bootstrap.min.css" rel = "stylesheet">
	<link href = '../static/css/stylesheet.css' rel='stylesheet'>
	<link href='../static/css/turing.css' rel='stylesheet'>

	</head>
	<body>
		<div id="nav-wrap">
			<a href="../index.html">Read paper</a>
			<a href="try_experiments.html">Try experiments</a>
			<a href="explore_data.html">Explore data</a>
			<a href="about_us.html">About us</a>	
		</div>
		
		<div class='container-fluid text-center'>
			<div class='row'>
				<div class="headertext col-xs-8 col-xs-offset-2">
					<h1>Are the players humans or computers?</h1>
				</div>
			</div>
		
			<div class="row">
				<div class="container-fluid col-xs-10 col-xs-offset-1 turing-container">
					<video id='turing-stim' preload='metadata' style='-webkit-filter: brightness(108.5%);'>
						<source id='stim-source' src='' type='video/mp4'>
					</video>
				</div>
			</div>
			<div class='container col-xs-10 col-xs-offset-1' id='slider-input-div'>
				<div class='row' id='slider-row'>
					<input class='col-xs-12' type='range' min=0 max=100 id='slider'>
					<div id='slider-labels' class='col-xs-12'>
						<div class='row'>
							<div class='col-xs-4'><p style="text-align:left;" id='humans'>Certainly computers</p></div>
							<div class='col-xs-4'><p style="text-align:center;" id='noClue'>No clue</p></div>
							<div class='col-xs-4'><p style="text-align:right;" id='comps'>Certainly humans</p></div>
						</div>
					</div>
					<div class='text-center col-xs-6 col-xs-offset-3' id='turing-feedback'>
						<p id='feedback-text'></p>
					</div>
				</div>
				<div class='row' id='button-row'>
					<div class='text-center col-xs-6 col-xs-offset-3'>
						<input class='btn btn-lrg play-btn' type="button" value="Play" id='play' disabled>
						<input class='btn btn-lrg submit-btn' type="button" value="Submit" id='submit' disabled>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>